
language: php

sudo: false

notifications:
  email:
    on_success: never
    on_failure: change

before_script:
- composer install --dev

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - codecov

php:
  - 7.3
  - 7.4
  - nightly
  - hhvm

matrix:
  allow_failures:
    - php: nightly
    - php: hhvm
